@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
    --square-length: calc((15vh + 15vw) / 2);
}

* {
    font-family: 'Fira Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

/* Main section */
main {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    min-height: 100dvh;
    align-items: center;
    width: 100vw;
    max-width: 1600px;
}

/* Glow-box boxes*/
.glow-box {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: var(--square-length);
    height: var(--square-length);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-box > i {
    font-size: calc(var(--square-length) * .45);
}

.glow-box:first-child > i {
    font-size: calc(var(--square-length) * .53);
    padding-bottom: 5%;
}

.glow-box:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    /* animation: glow-boxing 20s linear infinite; */
    transition: opacity .3s ease-in-out;
}

.glow-box:active {
    color: #000
}

.glow-box:active:after {
    background: transparent;
}

.glow-box:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
    left: 0;
    top: 0;
}

@media (max-width: 650px) and (orientation: portrait) {
    :root {
        --square-length: 17vh;
    }

    main {
        flex-direction: column;
        width: 100vw;
        width: 100dvw;
        min-height: 100vh;
        min-height: 100dvh;
    }
}

@media (min-width: 1281px) {
    :root {
        --square-length: calc((12vh + 12vw) / 2);
    }
}

@keyframes glow-boxing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
