@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --mid-modal-gap: calc(1.5em * .2084);
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
	place-items: center;
    justify-content: center;
    background: linear-gradient(40deg, #091863, #2c3e50);
}

.modal {
	font-weight: 300;
	line-height: 1.5;
    margin: 5% auto;
	width: 40vw;
    max-width: 600px;
	text-align: center;
    padding: 2em;
    position: relative;
    box-shadow: 6px 28px 46px -6px #000;
    background: linear-gradient(45deg, #101010, #2c3e50);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s linear, height 0.3s linear;
}

input, button, select {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    border: solid 1px;
    color: inherit;
    outline: 0;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: inherit;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: center;
}

select option {
    background: rgb(44 43 43 / 80%);
}

select:required:invalid {
    color: gray;
}

select:required:invalid option {
    color: #fff;
}

#directoryList, #taskActions, #currentTasks {
    width: 100%;
}

button {
    cursor: pointer;
}

.top-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mid-wrapper {
    display: none;
    justify-content: space-between;
    gap: var(--mid-modal-gap);
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.mid-modal, .bot-modal {
    display: flex;
    justify-content: space-evenly;
    gap: var(--mid-modal-gap);
    align-items: center;
    width: 100%;
}

.modal > h1 {
    margin-top: 0;
    color: hsl(223,90%,60%);
}

.mid-modal > input[type=number],
.mid-modal > input[type=text],
.mid-modal > input[type=datetime-local] {
    width: 100%;
}

.modal ul {
    list-style-type: none;
    padding: 0;
    width: 75%;
    overflow: auto;
    white-space: nowrap;
    /* max-height: 0; */
    transition: max-height 0.3s ease-out;
}

.modal li {
    text-align: start;
}

.tab {
    padding-left: 1em;
}

.dir > ul {
    width: inherit;
}

.presenter {
    height: 1.5em;
    text-shadow: 0 0 5px #C8C8C8;
}

.panel {
    padding: 0 18px;
    /* background-color: white; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

@media (max-width: 650px) {
    .mid-wrapper {
        width: 90%;
    }

    .modal ul {
        width: 85%;
    }
}

.close-modal {
    color: #aaa;
    font-size: 1.5em;
}

.go-back {
    font-size: 1.5em;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .modal {
        width: 60vw;
        width: 60dvw;
    }
}

@media (max-width: 700px) {
    .modal {
        width: 80vw;
        width: 80dvw;
    }
}
