#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.react-logo {
    height: 6rem;
    padding: 1.5rem;
}

.animate-intro {
    opacity: 0;
    animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0;                 /* Optional fade-in */
    }
    100% {
      transform: translateX(0);   /* End at original position */
      opacity: 1;                 /* Full visibility */
    }
}

/* SVG Styling */
.checkmark {
    width: 2rem;
    height: 2rem;
}

.checkmark path {
    fill: none;
    stroke: #198754; /* Green color for the checkmark */
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 100; /* Total length of the stroke */
    stroke-dashoffset: 100; /* Initially hide the stroke */
    animation: draw 1s ease forwards; /* Animate the stroke */
}

/* Keyframes for the animation */
@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Fully reveal the stroke */
    }
}

/* SVG Styling */
.xmark {
    width: 2rem;
    height: 2rem;
}

.xmark path {
    fill: none;
    stroke: #dc3545; /* Red color for the X */
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 100; /* Total length of the stroke */
    stroke-dashoffset: 100; /* Initially hide the stroke */
}

/* Animation for the first line */
.xmark path:nth-child(1) {
    animation: draw-line-1 1s ease forwards;
}

/* Animation for the second line */
.xmark path:nth-child(2) {
    animation: draw-line-2 1s ease forwards;
    animation-delay: .2s; /* Start after the first line finishes */
}

/* Keyframes for the animations */
@keyframes draw-line-1 {
    to {
        stroke-dashoffset: 0; /* Fully reveal the stroke */
    }
}

@keyframes draw-line-2 {
    to {
        stroke-dashoffset: 0; /* Fully reveal the stroke */
    }
}
